<div id="loader-div-test">
 <div class="card-container">
    <div class="login-page" id="login-page">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="card black-card" id="login">
            <div class="card-block">
              <div id="titleblock">
                <img id="blender" src="trendr.png" alt="">
                <h1>trendr.</h1>
              </div>
              <form 
                name="loginUser"
                (ngSubmit)="login(f.value)"
                autocomplete="off"
                novalidate
                #f="ngForm">
                <div class="form-content">
                  <div class="form-group">
                    <input
                      name="username" 
                      #username="ngModel"
                      [(ngModel)]="user.username"
                      required
                      minlength="5"
                      type="text" 
                      class="login-input form-control input-underline input-lg"
                      [class.input-underline-danger]="!username.valid && !username.pristine"
                      placeholder="Username">
                        <small class="secondary-text" [hidden]="username.valid || (username.pristine && !f.submitted)">
                          Username is required (minimum 5 characters).
                        </small>
                  </div>
                  <div class="form-group">
                    <input 
                      name="password"
                      #password="ngModel"
                      [(ngModel)]="user.password"
                      required
                      minlength="8"
                      type="password" 
                      class="login-input form-control input-underline input-lg"
                      [class.input-underline-danger]="!password.valid && !password.pristine"
                      placeholder="Password">
                        <small class="secondary-text" [hidden]="password.valid || (password.pristine && !f.submitted)">
                          Password is required (minimum 8 characters).
                        </small>
                  </div>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-primary" type="submit" [disabled]="!f.valid"><h4>Login</h4></button>
                  <a class="btn btn-outline-secondary" (click)="goToRegister()"><h4>Register</h4></a>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a class="btn btn-outline-blue"><i class="button-icon fa fa-google"></i></a>
                  <a class="btn btn-outline-white"><i class="button-icon fa fa-twitter"></i></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>