<div id="loader-div-test">
 <div class="card-container">
    <div class="login-page" id="login-page">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="card black-card" id="login">
        <div class="card-block">
          <div id="titleblock">
            <img id="blender" src="trendr.png" alt="">
            <h1>trendr.</h1>
          </div>
          <form role="form" (submit)="login($event, username.value, password.value)">
            <div class="form-content">
              <div class="form-group">
                <input #username type="text" ng-model="name" class="login-input form-control input-underline input-lg" id="" placeholder="Username">
              </div>
              <div class="form-group">
                <input #password type="password" class="login-input form-control input-underline input-lg" id="" placeholder="Password">
              </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary" type="submit"><h4>Login</h4></button>
              <button type="button" class="btn btn-outline-secondary" (click)="goToRegister()"><h4>Register</h4></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
 </div>
</div>

<script src="animate.js"></script>