<div id="loader-div-test">
  <div class="login-page" id="login-page">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <!--<img src="#" width="150px" class="user-avatar" />-->
      <div class="card black-card" id="login">
        <div class="card-block">
          <h1>Trendr</h1>
          <form role="form">
            <div class="form-content">
              <div class="form-group">
                <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
              </div>
            </div>
            <a class="btn rounded-btn" [routerLink]="['/home']"> Log in </a> &nbsp;
            <button type="button" class="btn btn-outline-primary">Primary</button>

            <a type="submit" class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="animate.js"></script>