@font-face {
    font-family: 'LeagueGothic';
    src: url('/fonts/LeagueGothic-Regular.css');
    font-weight: normal;
    font-style: normal;
}
.black-card{
  /*background-color: transparent;*/
  background-color:rgba(0, 0, 0, 0.7);

     /*background: transparent;*/
    border: 4px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #FC913A 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #FC913A 0%, #FF4E50 100%);
    border-image: linear-gradient(to bottom, #FC913A 0%, #FF4E50 100%);
    border-image-slice: 1;
  
}
#login{
/*opacity: .9;*/
/*margin-top: 8vh;*/
}
#titleblock{
    text-align: center;
    /*margin-top: 35px;
   margin: auto;
    width: 300px;
    height: 300px;
    background: transparent;
    border: 4px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #FC913A 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #FC913A 0%, #FF4E50 100%);
    border-image: linear-gradient(to bottom, #FC913A 0%, #FF4E50 100%);
    border-image-slice: 1;*/
}
.btn-outline-primary {
  color: #FC913A;
  background-image: none;
  background-color: transparent;
  border-color: #FC913A;
  padding: 25px;
}
.btn-outline-primary:hover {
  color: white;
  background-color: #FC913A;
  padding: 25px;
}
.btn-outline-secondary {
  color: #FF4E50;
  background-image: none;
  background-color: transparent;
  border-color: #FF4E50;
  padding: 25px;
}
.btn-outline-secondary:hover {
  color: white;
  background-color: #FF4E50;
  padding: 25px;
}
.btn-outline-blue {
  font-size: 36px;
  color: white;
  background-image: none;
  background-color: transparent;
  border-color: #196EEF;
  padding: 15px;
}
.btn-outline-blue:hover {
  font-size: 36px;
  color: white;
  background-color: #196EEF;
  padding: 15px;
}
.btn-outline-white {
  font-size: 36px;
  color: white;
  background-image: none;
  background-color: transparent;
  border-color: white;
  padding: 15px;
}
.btn-outline-white:hover {
  font-size: 36px;
  color: #00ACEE;
  background-color: white;
  padding: 15px;
}



#loader{
  /*background-color: green;*/
}
html {
    height: 100vh;
}

#blender{
    padding-top: 20px;
    width: 150px
}
.login-input{
    text-align: center;
}
.card-container{
    border-radius: 15px;
}
#blender-loading{
    width: 100%;
    text-align: center;
}
#blender-loading > img {
    margin-top: 20vh;
    width: 150px;
    padding-left:20px;
}
.button-icon{
    font-size: 54px;
}

.input-underline-danger {
    border-color: #FF4E50 !important;
}
.secondary-text{
    color: #FC913A;
}