@font-face {
    font-family: 'LeagueGothic';
    src: url('/fonts/LeagueGothic-Regular.css');
    font-weight: normal;
    font-style: normal;
}
.black-card{
  background-color: transparent;
    border-radius: 25px;
    border-width: 3px;
  
}
#login{
/*opacity: .9;*/
}
#titleblock{
   margin: auto;
    width: 150px;
    height: 150px;
    background: transparent;
    border: 10px solid transparent;
    
    -moz-border-image: -moz-linear-gradient(top, #FC913A 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #FC913A 0%, #FF4E50 100%);
    border-image: linear-gradient(to bottom, #FC913A 0%, #FF4E50 100%);
    border-image-slice: 1;
}
.btn-outline-primary {
  color: #0275d8;
  background-image: none;
  background-color: transparent;
  border-color: #0275d8;
}

#loader{
  /*background-color: green;*/
}
html {
    height: 100vh;
}