<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
    <a [routerLink]="['/dash']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i> Dashboard
    </a>
    <a [routerLink]="['/dash', '/trends']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i> My Trends
    </a>
    <app-og-modal></app-og-modal>
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <span><i class="fa fa-plus"></i> &nbsp; TrendWatch</span>
      </a>
      <li class="nested" [ngClass]="{'expand' : showMenu === 'pages' }">
        <ul class="submenu">
          <li>
            <a href><span>Stock Market</span></a>
          </li>
          <li>
            <a href><span>Twitter</span></a>
          </li>
        </ul>
      </li>
    </div>
    <a [routerLink]="['/dashboard', '/blank-page']" class="list-group-item">
      <i class="fa fa-file-o"></i> &nbsp;BlankPage
    </a>
  </ul>
  <div id="sidebar-logo">
    <img id="sidebar-icon" src="trendr.png" alt="">
  </div>
    <div class="sidebar-button-group">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-outline-sidebar"><i class="button-icon fa fa-user"></i></a>
        <a class="btn btn-outline-sidebar"><i class="button-icon fa fa-gear"></i></a>
        <a [routerLink]="['/login']" class="btn btn-outline-sidebar"><i class="button-icon fa fa-power-off"></i></a>
      </div>
  </div>
</nav>