<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">create a new Trend</h1>
    <p class="lead">First, let's add a stock symbol. Please search for a company below.</p>

    <div class="form-group">
      <input #query (keyup)="searchForStock(query.value)" type="text" class="form-control" id="symbol-search" placeholder="NASDAQ, AMEX or NYSE symbol or Company name">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <ul class="list-group">
      <li *ngFor="let symbol of symbols" class="list-group-item row">
        <div class="col-md-1">
          <span class="tag tag-primary tag-pill pull-md-left">{{ symbol.symbol }}</span>
        </div>
        <div class="col-md-6">
          <h4>{{ symbol.company_name }}</h4>
          <h5>{{ symbol.industry }}</h5>
        </div>
        <div class="col-md-3">
          <span class="tag tag-secondary tag-pill pull-xs-right">Market Cap: {{ symbol.MarketCap }}</span>
          <span class="tag tag-default tag-pill pull-xs-right">IPO Year: {{ symbol.IPOyear }}</span>
        </div>
        <div class="col-md-2">
          <div class="btn btn-outline-primary">Add To Trend</div>
        </div>
      </li>
    </ul>
</div>
</div>