.tag-default {
    background-color: #818a91;
}
.tag-primary {
    background-color: #FC913A;
}
.tag-secondary {
    background-color: #FF4E50;
}
.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.tag {
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.symbol-container {

}
.stock-data-container {
  
}